# Dependencies
node_modules/

# Build output
# dist/


# Environment files (keep .env.example, ignore real .env)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
